# Package names only - no versions. Use with: pip install --no-index -r requirements-names-only.txt
# Pip will resolve versions and dependencies from your index (e.g. --find-links).
absl-py
aiohappyeyeballs
aiohttp
aiosignal
alembic
antlr4-python3-runtime
array_record
astunparse
async-timeout
attrs
autopage
cachetools
certifi
charset-normalizer
click
cliff
cloudpickle
cmaes
cmd2
colorlog
cycler
datasets
decorator
dill
dm-reverb
docker-pycreds
einops
etils
Farama-Notifications
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
gymnasium
h5py
hf-xet
huggingface
huggingface-hub
hydra-core
hydra-optuna-sweeper
hydra-submitit-launcher
idna
imageio
imageio-ffmpeg
importlib_resources
Jinja2
keras
kiwisolver
libclang
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
moviepy
mpmath
multidict
multiprocess
networkx
numpy
oauthlib
omegaconf
opt_einsum
optuna
pandas
pathtools
Pillow
portpicker
prettytable
proglog
promise
propcache
protobuf
pyasn1
pyasn1_modules
Pympler
pyparsing
pyperclip
python-box
pytz
PyYAML
regex
requests
requests-oauthlib
rich
rich-argparse
rlds
rsa
safetensors
scipy
sentencepiece
sentry-sdk
setproctitle
shortuuid
SQLAlchemy
stevedore
submitit
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tokenizers
toml
tomli
torch
torchaudio
torchvision
tqdm
transformers
triton
tzdata
urllib3
wandb
wcwidth
Werkzeug
wrapt
xxhash
yarl
